<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f84562e7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href="https://assets.website-files.com/62aee78456e4207786ac4d18/62b0fad1a8cf6a4c26b3cb5e_Faivcon%2032.svg"
        rel="shortcut icon" type="image/x-icon" />
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="" class="title-logo">EasyWork</a>
        <div class="nav-content">
            <a href="/homeWorker">Home</a>
            <a href="/work">Work</a>
            <a href="/notificationsWorker">Notifications</a>
            <a href="/profileWorker">Profile</a>
            <form action="/logout" method="get">
                <button class="nav-btn">Logout</button>
            </form>
        </div>
    </nav>