<%- include("partials/header") -%>

    <br><br>
    <main style="background-color: var(--color-white);">
        <div class="container-task">
            <h2>Add task</h2>
            <div class="login-input">
                <label for="task">Task :</label>
                <input type="text" id="task" placeholder="Enter your task">
            </div>
            <div class="login-input">
                <label for="domain">Domain :</label>
                <input type="password" id="domain" placeholder="Enter your domain">
            </div>
            <div class="login-input">
                <label for="description">Domain :</label>
                <textarea id="description" cols="30" rows="5" placeholder="Describe your task"></textarea>
            </div>
            <button type="submit" class="add-task-btn" style="margin-top: 20px;">ADD</button>
        </div>
    </main>
</body>
</html>