<%- include("partials/header") -%>

    <div class="main-content">
        <br><br>
        <div class="notify-title">
            <h1>Notifications</h1>
        </div>
        <div class="notify-desc">
            <div class="notify-card">
                <p>Your message was successfully sent !!!</p>
                <p>11 November, 2025</p>
            </div>
            <div class="notify-card">
                <p>Your message was successfully sent !!!</p>
                <p>11 November, 2025</p>
            </div>
        </div>
    </div>
</body>
</html>