<%- include("partials/header") -%>

    <div class="main-content">
        <div class="profile-container">
            <img src="images/profile.png" >
            <div class="profile-content">
                <p>Name          : Samarth Bura</p>
                <p>Mobile Number : 8080063254</p>
                <p>Email         : samarthbura@gmail.com</p>
                <p>Address       : 876, Gauri ghumat, Ahmednagar</p>
                <p>Location      : hyperlink</p>
            </div>
        </div>
    </div>
</body>
</html>