<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f84562e7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href="https://assets.website-files.com/62aee78456e4207786ac4d18/62b0fad1a8cf6a4c26b3cb5e_Faivcon%2032.svg"
        rel="shortcut icon" type="image/x-icon" />
    <title>Document</title>
    <style>
        body{
            background-color: var(--color-grey);
        }
    </style>
</head>
<body>
    <nav>
        <a href="" class="title-logo">EasyWork</a>
        <div class="login-nav-content">
            <a href="/login"><button class="nav-btn">Login</button></a>
        </div>
    </nav>
    <br><br>
    <main>
        <div class="container-r">
            <h2>Register</h2>
            <form action="/register" method="post">
                <div class="login-input">
                    <label for="name">Name :</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name">
                </div>
                <div class="login-input">
                    <label for="email2">Email :</label>
                    <input type="email" id="email2" name="email" placeholder="Enter your email">
                </div>
                <div class="login-input">
                    <label for="password2">Password :</label>
                    <input type="password" id="password2" name="password" placeholder="Enter your password">
                </div>
                <button type="submit" class="login-btn">REGISTER</button>
            </form>
        </div>
    </main>
</body>
</html>