<%- include("../partials/headerClient") -%>

    <div class="main-content">
        <br><br>
        <div class="home-title">
            <h1>Explore tasks here !!!</h1>
            <a href="/addTask"><button type="button">Add Task</button></a>
        </div>
        <div class="home-desc">
            <div class="home-card">
                <h2 class="home-card-title">Tap leakage problem</h2>
                <h3 class="home-card-category">Category : Plumbing</h3>
                <p class="home-card-date">Date Published : 11 Februry 2025</p>
                <p class="home-card-number">15 Workers applied!</p>
            </div>
            <div class="home-card">
                <h2 class="home-card-title">Tap leakage problem</h2>
                <h3 class="home-card-category">Category : Plumbing</h3>
                <p class="home-card-date">Date Published : 11 Februry 2025</p>
                <p class="home-card-number">15 Workers applied!</p>
            </div>
            <div class="home-card">
                <h2 class="home-card-title">Tap leakage problem</h2>
                <h3 class="home-card-category">Category : Plumbing</h3>
                <p class="home-card-date">Date Published : 11 Februry 2025</p>
                <p class="home-card-number">15 Workers applied!</p>
            </div>
            <div class="home-card">
                <h2 class="home-card-title">Tap leakage problem</h2>
                <h3 class="home-card-category">Category : Plumbing</h3>
                <p class="home-card-date">Date Published : 11 Februry 2025</p>
                <p class="home-card-number">15 Workers applied!</p>
            </div>
        </div>
    </div>
</body>
</html>